<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Starter Page</title>

    <meta name="description" content="HTML Page">
    <meta name="author" content="Marcus">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css?v=1.0">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body> 

<div class="site-wrapper">

    <section class="header">
    <div class="content-wrapper">

        <!-- Header
        Logo (your own design)
        -->
        <h1>
            <!--
            <img class="main-logo" src="/static/img/logo.svg" alt="Queue Four Logo">
            -->
            <i class="rocket icon"></i>
            Queue Four
        </h1>

    </div>
    </section>

    <section class="contact-list-header" id="example-1">
    <div class="content-wrapper">

        <div class="ui secondary menu">

            <!-- Navigation 
            - Contact List View ( List or Grid )
            Please make sure to display all contacts in a List view or Grid View 
            ( Optionally add functionality for switching between views)
            -->
            <div class="item">
                <div class="ui icon buttons">
                    <button id="set-view-list" class="ui button"><i class="list layout icon"></i></button>
                    <button id="set-view-grid" class="ui button active"><i class="grid layout icon"></i></button>
                </div>
            </div>
            <!-- 
            Bonus: Please add filtering to the list of contacts.
            -->
            <div class="item">
                <div class="ui action left icon input">
                    <i class="search icon"></i>
                    <input v-model="message" type="text" placeholder="Search">
                    <button class="ui button">Clear</button>
                </div>
            </div>

            <div class="right menu">
                <!-- 
                Please place "Add Contact" button which will display a from for adding new contact, 
                form should include 2 buttons save and cancel.
                Save should add the contact to the array of contacts and add to the attached JSON file, 
                and cancel should close the "Add Contact from", and return to list view.
                -->
                <div class="item">
                    <div class="ui left labeled button" tabindex="0">
                        <a class="ui basic right pointing label">
                            <i class="user icon"></i> 5

                        </a>
                        <div id="add-contact" class="ui green button">
                            <i class="add icon"></i> New
                        </div>
                    </div>                        
                </div>                        
                <!-- 
                Bonus: Save detail data changes to JSON file.
                -->
                <div class="item">
                    <button class="ui primary button" id="update-data">
                        <i class="save icon"></i> JSON 
                    </button>
                </div>
            </div>

        </div>

        <div class="contact-list">
            <!-- 
            List or Grid View should show only First Name Last Name and Phone
            -->
            <div class="ui middle aligned divided list" v-bind:class="{ aligned : isListView , horizontal : isGridView }">
                <div class="item" v-for="user in filteredUsers">
                    <div class="right floated content">
                        <div class="ui button" v-bind:class="{ disabled : !user.phone }">
                            <i class="phone icon"></i>{{ user.phone || "Not Available" }}
                        </div>
                    </div>
                    <img class="ui avatar image" src="http://placehold.it/64/64/">
                    <div class="content">
                        <div class="header">{{ user.firstName }} {{ user.lastName }}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
        On Click of a contact please display details of a contact with all the available data.
        Detail view should have a functionality for editing and deleting the contact. 
        When contact is in edit mode add 2 buttons "Save" and "Cancel"
        - Save button should mimic an Ajax call to the database. 
            No call needs to be made but please make sure the data is available for saving. 
        - Cancel - Close the edit mode and display the detail view of the contact. 
        -->
        <h4>View Contact Details</h4>
        <p>
            Idea: should the contact detail view expand the list or grid? 
            Or, should it open a panel (a la nounproject)
        </p>

        <ul class="ui link cards">
            <li class="card" v-for="item in filteredUsers">
                <div class="image">
                    <img src="http://placehold.it/256/256">
                </div>
                <div class="content">
                    <div class="header">
                        {{ item.firstName }} 
                        {{ item.lastName }}
                    </div>
                    <div class="meta">
                        {{ item.title }}
                    </div>
                    <div class="description">
                        {{ item.Address1 }}<br>
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        {{ item.State }}
                    </span>
                    <span>
                        <i class="user icon"></i>
                        {{ item.City }}
                    </span>
                </div>
            </li>
        </ul>

        <div class="ui buttons">
            <button class="ui button">Cancel</button>
            <div class="or"></div>
            <button class="ui positive button">Save</button>
        </div>

        <div class="ui animated button" tabindex="0">
          <div class="visible content">Next</div>
          <div class="hidden content">
            <i class="right arrow icon"></i>
          </div>
        </div>
        <div class="ui vertical animated button" tabindex="0">
          <div class="hidden content">Shop</div>
          <div class="visible content">
            <i class="shop icon"></i>
          </div>
        </div>
        <div class="ui animated fade button" tabindex="0">
          <div class="visible content">Sign-up for a Pro account</div>
          <div class="hidden content">
            $12.99 a month
          </div>
        </div>

    </div>
    </section>

    <section>
    <div class="content-wrapper">

        <h4>Add New Contact Form Goes Here</h4>

        <div class="ui buttons">
            <button class="ui button">Cancel</button>
            <div class="or"></div>
            <button class="ui positive button">Save</button>
        </div>

    </div>
    </section>

    <section class="footer">
    <div class="content-wrapper">
        <!-- Footer
        Copyright some guy who shoots birds at the airport 2016. All rights reserved.
        -->
    </div>
    </section>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="/static/js/helper.js"></script>
    <script src="/static/js/scripts.min.js"></script>

</div>
</body>
</html>

